--2021-02-27 16:51:28--  https://www.toptal.com/developers/gitignore/api/vscode,python
Slår upp www.toptal.com (www.toptal.com)... 104.22.42.181, 104.22.43.181, 172.67.4.131
Ansluter till www.toptal.com (www.toptal.com)|104.22.42.181|:443... ansluten.
HTTP-begäran skickad, väntar på svar... 200 OK
Längd: ospecificerat [text/plain]
Sparar till: "vscode,python"

     0K ..                                                     8,58M=0s

2021-02-27 16:51:28 (8,58 MB/s) - "vscode,python" sparades [2276]

